$h1-size: 9.313rem; //h1
$h2-size: 7.451rem; //h2
$h3-size: 5.96rem; //h3
$h4-size: 4.768rem; //h4
$h5-size: 3.815rem; //h5
$h6-size: 3.04rem; //h6

$primary-text-size: 2.441rem; //primary
$secondary-text-size: 1.953rem; //secondary
$thirdary-text-size: 1.25rem; //tertiary
$default-text-size: 1rem; //default

$primary-color: #18214e;
$background-color: #fff;

$primary-color-dark: #fff;
$background-color-dark: #151519;
