.scroll_button {
  position: fixed;
  border-radius: 50%;
  background-color: var(--cursor-color);
  color: var(--text-color);
  padding: 2rem;
  margin-right: 2rem;
  margin-bottom: 5rem;
  border: 0;
  bottom: 0;
  right: 0;
  z-index: 999999;

  @media (min-width: 1024px) {
    display: none;
  }
}
