@import '../../styles/variables.module.scss';

.content {
  width: 100%;
  height: 100%;
}

.content__header {
  height: 64px;
  width: 100%;
  position: absolute;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: $thirdary-text-size;
  line-height: $thirdary-text-size;
}

.content__header__chip {
  margin-right: 0.5rem;

  padding: 3px 8px 3px 8px;
  border-radius: 50px;
}

.active {
  background-color: $primary-color;
  color: white;
}

.motion_container {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.content__title {
  text-transform: uppercase;
  font-size: calc(clamp(3.05rem, 7vw, $h1-size));
  -webkit-text-stroke-width: 1px;
  letter-spacing: 0.01px;
}

.content__title a {
  -webkit-text-fill-color: white;
  z-index: 999990;
}

.content__title a:hover {
  -webkit-text-fill-color: $primary-color;
}
