@import '../../styles/variables.module.scss';

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.sidebar_container {
  width: 100%;
  min-width: 100%;
  height: 100%;

  @media (min-width: 1024px) {
    width: 20%;
    min-width: 20%;
    height: 100%;
  }
}

.content_container {
  width: 100%;
  height: 100%;

  @media (min-width: 1024px) {
    width: 100%;
  }
}

.content__header {
  height: 64px;
  width: 100%;
  position: absolute;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $thirdary-text-size;
  line-height: $thirdary-text-size;
  padding: 2rem;

  @media (min-width: 1024px) {
    justify-content: flex-end;
  }
}

.content__header__chip {
  margin-right: 0.5rem;
  padding: 3px 8px 3px 8px;
  border-radius: 50px;
}

.motion_container {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.motion_container_left {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.content__title {
  text-transform: uppercase;
  font-size: calc(clamp(3.05rem, 7vw, $h1-size));
  -webkit-text-stroke-width: 1px;
  letter-spacing: 0.01px;
}

.content__title a {
  -webkit-text-fill-color: white;
}

.content__title a:hover {
  -webkit-text-fill-color: var(--primary-color);
}

.content__skills {
  font-size: calc(clamp(3.05rem, 7vw, $h1-size));
}
