@import '../../styles/variables.module.scss';

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content__header {
  height: 64px;
  width: 100%;
  position: absolute;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $thirdary-text-size;
  line-height: $thirdary-text-size;
  padding: 2rem;

  @media (min-width: 1024px) {
    justify-content: flex-end;
  }
}

.content__header__chip {
  margin-right: 0.5rem;
  padding: 3px 8px 3px 8px;
  border-radius: 50px;
}

.motion_container {
  height: 100vh !important;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

}

.motion_container_left {
  height: 33.3%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20rem;
  margin-bottom: 10rem;
  padding: 2rem;

  
}

.content__title {
  text-transform: uppercase;
  font-size: calc(clamp(3.05rem, 7vw, $h1-size));
  -webkit-text-stroke-width: 1px;
  letter-spacing: 0.01px;
}

.content__title a {
  -webkit-text-fill-color: white;
}

.content__title a:hover {
  -webkit-text-fill-color: var(--primary-color);
}

.content__skills {
  font-size: calc(clamp(3.05rem, 7vw, $h1-size));
}

.content__skills_right {
  font-size: calc(clamp(3.05rem, 7vw, $h1-size));
  text-align: right;
}

.sidebar__title {
  font-size: calc(clamp(1rem, 4vw, $h6-size));
}

.sidebar__text {
  font-family: spaceMono;
  font-size: calc(clamp(1rem, 3vw, $secondary-text-size));
}
