@import '../../styles/variables.module.scss';

.sidebar {
  height: 100vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.sidebar__main {
  width: 100%;
}

.sidebar__title {
  font-size: calc(clamp(1rem, 4vw, $h6-size));
}

.sidebar__text {
  font-family: spaceMono;
  font-size: calc(clamp(1rem, 3vw, $md-text-size));
}

.sidebar__links {
  width: 50%;

  display: flex;
  justify-content: space-between;
  align-self: flex-start;

  @media (min-width: 1024px) {
    width: 100%;
    justify-content: space-between;
  }
}
